<html>
  <head>
    <script src="libs/aframe.min.js"></script>
    <script src="libs/aframe-extras.min.js"></script>
    <script src="libs/aframe-physics-system.min.js"></script>
    <script src="libs/aframe-animation-component.min.js"></script>
    <script src="libs/aframe-extras.ocean.min.js"></script>
    <script src="libs/aframe-event-set-component.min.js"></script>
    <script src="libs/aframe-template-component.min.js"></script>
    <script src="libs/aframe-proxy-event-component.min.js"></script>
    <script src="libs/aframe-text-geometry-component.min.js"></script>
    <script src="libs/link-controls.js"></script>

    <!-- Image link template to be reused. -->
    <script id="link" type="text/html">
      <a-entity class="link"
        geometry="primitive: plane; height: 0.8; width: 0.8"
        material="shader: flat; src: ${thumb}"
        event-set__mouseenter="scale: 1 1 1"
        event-set__mouseleave="scale: 0.8 0.8 1"
        event-set__click="_target: #image-360; _delay: 300; material.src: ${src}"
        proxy-event="event: click; to: #image-360; as: fade"
        ></a-entity>
    </script>

    <script>
      AFRAME.registerComponent("button", {
        init: function() {
          this.el.addEventListener("click", e => {
            let obj = document.querySelector("#ocean");
            obj.setAttribute("visible", !obj.getAttribute("visible"));
          });
        }
      });
    </script>

    <script>
      AFRAME.registerComponent("button-moon", {
        init: function() {
          this.el.addEventListener("click", e => {
            let obj = document.querySelector("#bigMoon");
            obj.setAttribute("visible", "true");
          });
        }
      });
    </script>

    <script>
      AFRAME.registerComponent("moon", {
        init: function() {
          this.el.addEventListener("click", e => {
            let obj = document.querySelector("#portal");
            obj.setAttribute("visible", "true");
          });
        }
      });
    </script>

    <script id="boxTemplate" type="text/x-nunjucks-template">
      {% for x in range(0, 4) %}
      {% for y in range(-5, 11,4) %}
        {% for z in range(0, 3) %}
          <a-box
          class="clickable"
              color="red"
              scale="1.5 1.5 1.5"
              position="{{ x * 10 - 10 }} {{y}} {{ z * 10 - 7}}"
              animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: {{ x * 10 - 10}} {{y-0.25}} {{z * 10 - 7}}; loop: true"
              animation__clickenter="property: visible; from: true; to: false; startEvents: click; dur: 3000"
              animation__clickleave="property: visible; from: false; to: true; startEvents: click; dur: 3000"
              animation__mouseenter="property: scale; startEvents: mouseenter; to: 1.8 1.8 1.8; dur: 300"
              animation__mouseleave="property: scale; startEvents: mouseleave; to: 1.5 1.5 1.5; dur: 300"
              >
          </a-box>
        {% endfor %}
        {% endfor %}
      {% endfor %}
    </script>

    <script id="planeTemplate" type="text/x-nunjucks-template">
      {% for x in range(0, 4) %}
        {% for y in range(-5, 11,4) %}
          {% for z in range(0, 3) %}

        <a-entity

          geometry="primitive: plane; width: 1.5; height: auto"
          position="{{ x * 10 - 10 }} {{y}} {{ z * 10 - 7}}"
          material="color: red"
          text="width: 3.5; value:under the OCEAN\nworship MOONLIGHT\nfight in SPACE; align:center"></a-entity>

          {% endfor %}
        {% endfor %}
      {% endfor %}
    </script>
  </head>

  <body>
    <a-scene
      physics="friction:0.2; restitution: 0.01; gravity:0"
      cursor="rayOrigin: mouse"
      camera-position
    >
      <a-assets>
        <img id="boxTexture" crossorigin="i.imgur.com" src="assets/stone.jpg" />
        <img
          id="cubes"
          crossorigin="anonymous"
          src="assets/cubes-red.jpg"
        />
        <img
          id="space"
          crossorigin="anonymous"
          src="assets/space.jpg"
        />
        <img
          id="night"
          crossorigin="anonymous"
          src="assets/night-red.jpg"
        />

        <a-mixin
          id="light"
          geometry="primitive: sphere; radius: 1.5"
          material="color: #FFDDD; shader: flat"
          light="color: #FFDDD; distance: 150; intensity: 2; type: point"
        ></a-mixin>

      </a-assets>

      <!-- 初始背景 360-degree image -->
      <a-sky
        id="image-360"
        radius="200"
        src="#cubes"
        rotation="0 -10 0"
        animation__fade="property: components.material.material.color; type: color; from: #FFF; to: red; dur: 1000; startEvents: fade"
        animation__fadeback="property: components.material.material.color; type: color; from: red; to: #FFF; dur: 1000; startEvents: animationcomplete__fade"
      ></a-sky>

      <!--  Boxes -->
      <a-entity template="src: #boxTemplate"></a-entity>

      <!--  text in Boxes -->
      <a-entity template="src: #planeTemplate"></a-entity>

      <!--   干扰箱 四个  鼠标变换 变没 -->
      <a-entity
        geometry="primitive: box"
        material="color: red"
        scale="1.5 1.5 1.5"
        position="0 0 8"
        rotation="0 0 0"
        animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 0 -0.25 8; loop: true"
        animation__mouseenter="property: visible; from: true; to: false; startEvents: mouseenter; dur: 500"
        animation__mouseleave="property: visible; from: false; to: true; startEvents: mouseleave; dur: 500"
      ></a-entity>

      <a-entity
        geometry="primitive: box"
        material="color: red"
        scale="1.5 1.5 1.5"
        position="10 0 8"
        rotation="0 0 0"
        animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 10 -0.25 8; loop: true"
        animation__mouseenter="property: visible; from: true; to: false; startEvents: mouseenter; dur: 500"
        animation__mouseleave="property: visible; from: false; to: true; startEvents: mouseleave; dur: 500"
      ></a-entity>

      <a-entity
        geometry="primitive: box"
        material="color: red"
        scale="1.5 1.5 1.5"
        position="0 5 8"
        rotation="0 0 0"
        animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 0 4.75 8; loop: true"
        animation__mouseenter="property: visible; from: true; to: false; startEvents: mouseenter; dur: 500"
        animation__mouseleave="property: visible; from: false; to: true; startEvents: mouseleave; dur: 500"
      ></a-entity>

      <a-entity
        geometry="primitive: box"
        material="color: red"
        scale="1.5 1.5 1.5"
        position="10 5 8"
        rotation="0 0 0"
        animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 10 4.75 8; loop: true"
        animation__mouseenter="property: visible; from: true; to: false; startEvents: mouseenter; dur: 500"
        animation__mouseleave="property: visible; from: false; to: true; startEvents: mouseleave; dur: 500"
      ></a-entity>

      <!--  夜晚箱 鼠标变换 变色-->

      <a-entity
        button-moon
        id="blueCube"
        class="link"
        geometry="primitive: box; "
        material="color: red"
        scale="1.5 1.5 1.5"
        position="10 -5 -2"
        rotation="0 0 0"
        event-set__click="_target: #image-360; _delay: 300; material.src: #night"
        proxy-event="event: click; to: #image-360; as: fade"
        animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 10 -5.25 -2; loop: true"
        animation__mouseenter="property: components.material.material.color; type: color; from: red; to: blue; startEvents: mouseenter; dur: 500"
        animation__mouseleave="property: components.material.material.color; type: color; from: blue; to: red; startEvents: mouseleave; dur: 500"
        event-set__enter="_event: mouseenter; _target: #nigtText; visible: true"
        event-set__leave="_event: mouseleave; _target: #nigtText; visible: false"
      >
        <a-text
          id="nigtText"
          value="Night is coming"
          align="center"
          color="#FFF"
          visible="false"
          position="0 1 0"
          geometry="primitive: plane; width: 1.75"
          material="color: #333"
        ></a-text
      ></a-entity>

      <!-- 大cube 回cube主题link 旋转-->

      <a-entity
        id="bigCube"
        class="link"
        geometry="primitive: box; "
        material="color: red"
        position="5 2 3"
        rotation="20 45 45"
        scale="2 2 2"
        animation__click="property: rotation; startEvents: click; to: 380 405 45; dur: 3000; "
        animation__clickleave="property: rotation;  from: 380 405 45;to:20 45 45;startEvents: click; dur: 3000"
        animation__mouseenter="property: scale; startEvents: mouseenter; to: 2.3 2.3 2.3; dur: 300"
        animation__mouseleave="property: scale; startEvents: mouseleave; to: 2 2 2; dur: 300"
        event-set__click="_target: #image-360; _delay: 300;material.src: #cubes"
        proxy-event="event: click; to: #image-360; as: fade"
      ></a-entity>

      <!-- 黄柱体 按钮visible function-->

      <a-cylinder
        button
        class="clickable"
        position="5 -0.25 7"
        radius="0.5"
        height="0.5"
        color="#FFC65D"
        animation="property: position; easing: easeInOutQuad; dir: alternate; dur: 1000; to: 5 -0.5 7; loop: true"
        event-set__enter="_event: mouseenter; _target: #buttonText; visible: true"
        event-set__leave="_event: mouseleave; _target: #buttonText; visible: false"
      >
        <a-text
          id="buttonText"
          value="See through Sea"
          align="center"
          color="#FFF"
          visible="false"
          position="0 0.75 0"
          geometry="primitive: plane; width: 1.75"
          material="color: #333"
        ></a-text
      ></a-cylinder>

      <!--    海洋 visible="true"-->
      <a-entity
        id="ocean"
        ocean="density: 50; width: 80; depth: 80; speed: 3"
        material="color: red; opacity: 1.0; metalness: 0; roughness: 1"
        rotation="-90 0 0"
        static-body
      ></a-entity>

      <!--  月球-->

      <a-entity
        moon
        id="bigMoon"
        geometry="primitive: sphere"
        material="src:#boxTexture; shader: flat"
        position="-10 5 25"
        animation="property: rotation; easing: easeInOutQuad; dir: alternate; to: 360 405 45;dur: 5000;  loop: true"
        event-set__mouseenter="scale: 2.2 2.2 2.2"
        event-set__mouseleave="scale: 2 2 2"
        visible="false"
      ></a-entity>

      <!-- PORTAL-->
      <a-link
        id="portal"
        href="part2-loewi.html"
        title="SPACE"
        position="-15 5 50"
        rotation="0 0 0"
        visible="false"
        image="#space"
      ></a-link>
      
      <!--   灯光-->
      <a-entity
        animation="property: rotation; to: 0 0 360; dur: 5000; easing: linear; loop: true"
      >
        <a-entity mixin="light" position="30 0 0"></a-entity>
      </a-entity>

      <a-entity
        animation="property: rotation; to: 360 0 0; dur: 4000; easing: linear; loop: true"
      >
        <a-entity mixin="light" position="0 0 40"></a-entity>
      </a-entity>

      <a-text
        value="YOU ARE IN THE CUBE"
        color="red"
        position="-0.7 3 10"
        scale="5 5 5"
      ></a-text>

      <!-- Camera & Cursor -->
      <a-entity
        id="avbox"
        movement-controls="speed:0.5;fly:true"
        position="5 2 20"
      >
        <a-entity camera look-controls="pointerLockEnabled:false">
          <a-cursor
            id="cursor0"
            event-set__mouseenter="_event: mouseenter; color: yellow; from: 1 1 1; to: 0.1 0.1 0.1; dur: 150"
            event-set__mouseleave="_event: mouseleave; color: black;from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
            raycaster="far:15;objects: .link, .clickable"
          ></a-cursor>
        </a-entity>
      </a-entity>
    </a-scene>
  </body>
</html>